$dark: #1A1A1A;

body{
	font-family: 'Mulish', sans-serif;
    padding: 60px;
}

/*GRADIENT BACKGROUND ANIMATION*/

/***********/

.logoimage{
	height:14vh;
	display: block;
	margin: 10px auto;
	margin-bottom: 60px;
}

.header{
	padding-top: 2vh;
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav{
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	&-item{
		margin-left: 20px;
		margin-right: 20px;
		font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
		a{
			text-decoration: none;
			color: #6D6D6D;
			font-weight: lighter;
			letter-spacing: 1px;
			font-size: 12px;
		}
		a:hover{
			color: black;
			font-weight: 400;
		}
	}
}



